.container {
  max-width: 100%;
  min-height: 100vh;
  background-color: #eee;
  padding: 30px;
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
.post {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.post-content {
  padding: 30px;;
}
.post:hover {
  transform: scale(1.05);
}
.post img {
  max-width: 100%;
}